<main>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Asking Price</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#each product}}
                <tr>
                    
                    <td>{{_id}}</td>
                    <td>{{_productName}}</td>
                    <td>{{productAskingPrice}}</td>
                    <td>
                        <button><a href="/product/user/update/{{_id}}">Update</a></button>
                        <button><a href="/product/user/delete/{{_id}}">Delete</a></button>
                    </td>
                    
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>