<main>
    <table class="user-products-table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Asking Price</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#each product}}
            <tr>

                <td>{{_id}}</td>
                <td>{{productName}}</td>
                <td>${{productAskingPrice}}</td>
                <td>
                    <button><a href="/product/user/update/{{_id}}">Update</a></button>
                    <button><a href="/product/user/delete/{{_id}}">Delete</a></button>
                    <button><a href="/bid/{{_id}}">View Bids</a></button>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="user-product-errors">
        <p>{{errorMessage}}</p>
    </div>
</main>