<article class="product">
  <h1>{{ product.productName }}</h1>
  {{!-- <address>Posted by {{product.poster.name}}</address> --}}
  <p>{{ product.productDescription }}</p>
  <div class="userInfo">
  <h2>Seller's Info</h2>
  <dl>
          <dt>Username:</dt>
          <dd>{{userInfo.username}}</dd>
          <dt>Email:</dt>
          <dd>{{userInfo.emailAddress}}</dd>
          <dt>bio:</dt>
          <dd>{{userInfo.bio}}</dd>
        </dl>
        <a href="/userInfo/{{userInfo._id}}">Click here for more info</a>
  </div>
  <a href="/product/">Back to All Posts</a>
</article>