<article class="product">
  <h1>{{ product.productName }}</h1>
  {{!-- <address>Posted by {{product.poster.name}}</address> --}}
  <p>{{ product.productDescription }}</p>

  <h2>PLACE A BID</h2>
  <article class="new-post">
    <h1>Make a Post</h1>
    <form action="/posts" method="POST" class="new-bid-form">
      <label>
        Bid $
        <input type="text" name="bid" placeholder="Bid Amount" value="{{bid.amo}}" class="full-width-input">
      </label>
      <br>
      <button type="submit">Place Bid</button>
      <button type="reset">Clear</button>
    </form>
    {{#if hasErrors}}
    <ul class="error-list">
      {{#each errors}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
    {{/if}}

  </article>

  <h3>CURRENT BIDS:</h3>



  <a href="/product/">Back to All Posts</a>
</article>