<article class="product-single">
  <h1>{{product.productName}}</h1>
  {{!-- <address>Posted by {{product.poster.name}}</address> --}}
  <p><strong>Description:</strong>{{product.productDescription}}</p>
  <p><strong>Condition:</strong> {{product.productCondition}}</p>
  <p><strong>Serial Number:</strong> {{product.productSerialNumber}}</p>
  <p><strong>Supported Console:</strong> {{product.productSupportedConsole}}</p>
  {{!-- Add blue red color if listing is active else red --}}
  {{#if product.listingActive}}
  <p><strong>Status:</strong> Listing is active</p>
  {{else}}
  <p><strong>Status:</strong> Listing is inactive</p>
  {{/if}}
  <p><strong>Asking Price:</strong>${{product.productAskingPrice}}</p>
  <img src="{{product.productThumbnail}}" width="200" height="150" alt="Product image" />
  <p><strong>More Images from seller</strong></p>
  {{!--Other Images Not working --}}
  {{#each product.otherImages}}
  <img src="{{this}}" class="otherImages" alt="otherImages" />
  {{/each}}

  <h1>Comments</h1>
  <br>
  <form action="/product/user-comment/{{product._id}}" method="POST">
    <label for="comment">Message</label>
    <input type="text" name="comment" id="comment" required>

    <button type="submit">Create Comment</button>
  </form>
  <br>
  <br>
  {{#each product.comments}}
    <b>Comment: </b><q>{{this}}</q>
    <br>
  {{/each}}


  <h1>Reviews</h1>
  {{#each reviews}}
  
  <div class="review">
    <b>Message: </b><q>{{reviewText}}</q>
    <br>
    <b>Rating: </b><q>{{reviewRating}}/5</q>
    <br>
  </div>
  {{/each}}
  <div class="userInfo">
    <h2>Seller's Info</h2>
    <dl>
      <dt>Username:</dt>
      <dd>{{userInfo.username}}</dd>
      <dt>Email:</dt>
      <dd>{{userInfo.emailAddress}}</dd>
      <dt>bio:</dt>
      <dd>{{userInfo.bio}}</dd>
    </dl>
    <a href="/userInfo/{{userInfo._id}}">Click here for more info</a>

    <div id="bid-list"></div>

    <div class="bid-form-container">
      <h3>Create Bid:</h3>
      <div id="create-bid-errors">
      </div>
      <form id="bid-form">
        <label for="bid-amount">Bid Amount:</label>
        <input type="text" id="bid-amount" name="bid-amount" /><br />

        <input type="submit" value="Create Bid" />
        <input type="text" name="productId" id="productId" value="{{product._id}}" hidden>
      </form>
    </div>

    <div class="product-complaint-form-container">
      <h3>Submit a Complaint About this Product Listing:</h3>
      <div id="create-product-complaint-errors">{{errorMessage}}</div>
      <form id="product-complaint-form" action="" method="POST">
        <label for="product-complaint">Complaint Message:</label>
        <input type="text" id="complaintMessage" name="complaintMessage"><br />

        <input type="submit" value="Submit Complaint">
      </form>

    </div>

    <div class="product-review-form-containers">
      <h3>Submit a review for this product</h3>
      <div id="create-review-form-error">{{errorMessage}}</div>
      <form action="/review/{{product._id}}" method="POST" id="review-form">
        <label for="reviewText">Review Text</label>
        <input type="text" name="reviewText" id="reviewText"> <br>

        <label for="reviewStars">Review Stars</label>
        <input type="number" name="reviewStars" id="reviewStars" hidden>
        <input type="text" name="productId" id="productId" value="{{product._id}}" hidden>
        <div class="card-reviews">
          <br />
          <span onclick="gfg(1)"
                class="star">★
          </span>
          <span onclick="gfg(2)"
                class="star">★
          </span>
          <span onclick="gfg(3)"
                class="star">★
          </span>
          <span onclick="gfg(4)"
                class="star">★
          </span>
          <span onclick="gfg(5)"
                class="star">★
          </span>
          {{!-- <h3 id="output">
                Rating is: 0/5
          </h3> --}}
        </div>
        <input type="submit" value="Submit Review">
      </form>
    </div>
  </div>
  <a href="/product/">Back to All Posts</a>
</article>
<script>
  window.onload = function () {
    let path = window.location.href;
    let url = new URL(path);
    let segments = url.pathname.split('/');
    let productId = segments[segments.length - 1];
    let productComplaintForm = document.getElementById('product-complaint-form');
    productComplaintForm.action = '/complaint/createComplaintProduct/' + productId;
  }
  // To access the stars
  let stars = 
      document.getElementsByClassName("star");
  let output = 
      document.getElementById("reviewStars");
  
  // Funtion to update rating
  function gfg(n) {
      remove();
      for (let i = 0; i < n; i++) {
          if (n == 1) cls = "one";
          else if (n == 2) cls = "two";
          else if (n == 3) cls = "three";
          else if (n == 4) cls = "four";
          else if (n == 5) cls = "five";
          stars[i].className = "star " + cls;
      }
      output.value = n
  }
  
  // To remove the pre-applied styling
  function remove() {
      let i = 0;
      while (i < 5) {
          stars[i].className = "star";
          i++;
      }
  }
</script>